.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}
.header{height: 48px;line-height: 48px;}
.logo {
  float: left;
  width: 120px;
  height: 30px;
  margin: 9px auto;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}